$mainColor: #ffb8ca;
$mainDarkColor: #d41443;
$mainLightColor: #ffffff;
$mainTextColor: #000000;
$secondaryTextColor: #907e82;
$LabelColor: #ffa5ba;
$socialIconColor: #fea5bb;
$mainBackgroundColor: #fff5f6;
$secondaryBackgroundColor: #e5e5e5;
$accentDarkBtnColor: #d41342;
$accentLightBtnColor: #ecebeb;
$mainFont: 'DM Sans', sans-serif;
$titleFont: 'Titan One', sans-serif;
$sideGap: 115px;
$sideTabGap: 35px;
$sideMobGap: 20px;
$strokeColor: #E1E1E1;
