<div class="advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__list-item first">
            <h3 class="advantages__list-title">721</h3>
            <p class="advantages__list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-item second">
            <h3 class="advantages__list-title">16kg</h3>
            <p class="advantages__list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-item third">
        <h3 class="advantages__list-title">84</h3>
        <p class="advantages__list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>