<div class="advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__list-item">
            <img class="advantages__img" srcset="./images/Advantage1.png 1x, ./images/Advantage1-2х.png 2x"
                src="./images/Advantage1.png" alt="bucket of milk" width="33" height="50" />
            <h3 class="advantages__list-title">721</h3>
            <p class="advantages__list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-item">
            <img class="advantages__img" srcset="./images/Advantage2.png 1x, ./images/Advantage2-2x.png 2x"
                src="./images/Advantage2.png" alt="bucket of apples" width="50" height="50" />
            <h3 class="advantages__list-title">16kg</h3>
            <p class="advantages__list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-item"></li>
        <img class="advantages__img" srcset="./images/Advantage3.png 1x, ./images/Advantage3-2x.png 2x"
            src="./images/Advantage3.png" alt="candy" width="44" height="50" />
        <h3 class="advantages__list-title">84</h3>
        <p class="advantages__list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>

<!-- <div class="advantages__container">
    <h2 class="visually-hidden">advantages</h2>

    <ul class="advantages__list"> 
        <div class="advantages__icon">
            <img class="advantages__img" srcset="./images/Advantage1.png 1x, ./images/Advantage1-2х.png 2x"
                src="./images/Advantage1.png" alt="icon1" width="33" height="50" />
        </div>
        <div class="t__number">
            <h3 class="t">
                721
            </h3>
        </div>

        <li class="advantages__list-item">
            <p class="features__list-text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <div class="advantages__icon">
            <img class="advantages__img" srcset="./images/Advantage2.png 1x, ./images/Advantage2-2x.png 2x"
                src="./images/Advantage2.png" alt="icon2" width="50" height="50" />
        </div>
        <div class="t__number">
            <h3 class="t">
                16kg
            </h3>
        </div>

        <li class="advantages__list-item">
            <p class="features__list-text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <div class="advantages__icon">
            <img class="advantages__img" srcset="./images/Advantage3.png 1x, ./images/Advantage3-2x.png 2x"
                src="./images/Advantage3.png" alt="icon3" width="44" height="50" />
        </div>
        <div class="t__number">
            <h3 class="t">
                84
            </h3>
        </div>

        <li class="advantages__list-item">
            <p class="features__list-text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul>



</div> -->





















<!-- <div class="gallery__container">
    <img class="gallery__img" srcset="./images/collage.jpg 1x, ./images/collage-2x.jpg 2x" src="./images/collage.jpg"
        alt="ice cream cards" width="364" height="122" />
</div> -->