<section class="contacts-section">
   <h2 id=contacts is hidden>Contacts</h2>
   <div class="contacts-section__container">
       
    <ul class="contacts-list">
      <li class="contacts-list__card">Cafe
          <h3>Chicago</h3>
          <p lang="en">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <div>
              <p>Monday - Friday<time datetime="06:00-10:00">06:00 AM - 10:00 PM </time>
              </p>
            <p>Saturday - Sunday<time datetime="08:00-16:00">08:00 AM - 16:00 PM </time>
            </p>
          </div>

          <div>
            <address class="contacts-address">
                <a href="tel:+610383766284" class="contacts-address__link phone"><span>+61(0) 383 766 284</span></a>
                <a href="mailto:noreply@envato.com" class="contacts-address__link mail"><span>noreply@envato.com</span></a>
            </address>
          </div>
      </li>

    <li class="contacts-list__card">Foodtruck
        <h3>Los Angeles</h3>
        <p lang="en">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div>
            <p>Monday - Friday<time datetime="06:00-10:00">06:00 AM - 10:00 PM </time>
            </p>
            <p>Saturday - Sunday<time datetime="08:00-16:00">08:00 AM - 16:00 PM </time>
            </p>
        </div>
    
        <div>
            <address class="contacts-address">
                <a href="tel:+610383766284" class="contacts-address__link phone"><span>+61(0) 383 766 284</span></a>
                <a href="mailto:noreply@envato.com" class="contacts-address__link mail"><span>noreply@envato.com</span></a>
            </address>
        </div>
    </li>

    <li class="contacts-list__card">Cafe
        <h3>New York</h3>
        <p lang="en">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div>
            <p>Monday - Friday<time datetime="06:00-10:00">06:00 AM - 10:00 PM </time>
            </p>
            <p>Saturday - Sunday<time datetime="08:00-16:00">08:00 AM - 16:00 PM </time>
            </p>
        </div>
    
        <div>
            <address class="contacts-address">
                <a href="tel:+610383766284" class="contacts-address__link phone"><span>+61(0) 383 766 284</span></a>
                <a href="mailto:noreply@envato.com" class="contacts-address__link mail"><span>noreply@envato.com</span></a>
            </address>
        </div>
    </li>
    </ul>     
   </div>
</section>