<div class="header__body" id="header">
  <a href="#" class="header__logo">
    <img src="../src/images/logo.png" alt="logo" />
  </a>
  <nav class="header__nav">
    <ul class="header__nav-link">
      <li class="nav-link__item"><a href="#header">Home</a></li>
      <li class="nav-link__item"><a href="#about">About us</a></li>
      <li class="nav-link__item"><a href="#about">How it's made?</a></li>
      <li class="nav-link__item"><a href="#products">Our products</a></li>
      <li class="nav-link__item"><a href="#contacts">Contact</a></li>
    </ul>
  </nav>
  <button
    class="header__burger js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="header__burger">
    <svg class="header__burger-icon" width="20" height="12">
      <use href="./images/sprite.svg#icon-burger"></use>
    </svg>
  </button>
  <div class="header__button-buy">
    <button
      type="button"
      class="btn btn_color_light js-open-modal"
      aria-controls="header__button"
    >
      Buy now
      <svg class="about__svg-btn">
        <use href="./images/sprite.svg#icon-btn"></use>
      </svg>
    </button>
  </div>
</div>