<div class="hero__container">
    <div class="hero__body">
        <div class="hero__circle"></div>
        <img class="hero__image"
        srcset="./images/big-ice-cream.png 1x, ./images/big-ice-cream-2x.png 2x"
        src="./images/big-ice-cream.png" 
        alt="icecream">
        <h1 class="hero__title">ice cream made with
            <span class="hero__title--dark">passion</span>
        </h1>
        <div>
            <a href="#products-section__title">
                <button class="hero__btn--products btn btn_color_dark" type="button">Products</button>
            </a>
            <a href="#about__container"></a>
                <button class="hero__btn--him btn btn_color_light" type="button">How it’s made?</button>
            </a>
        </div>
    </div>
</div>
