<div class="hero__container">
    <div class="hero__body">
        <div class="hero__circle"></div>
        <img class="hero__image" 
            srcset="./images/big-ice-cream.png 1x, ./images/big-ice-cream-2x.png 2x"
            src="./images/big-ice-cream.png" 
            alt="icecream">
        <h1 class="hero__title">ice cream made with
            <span class="hero__title--dark">passion</span>
        </h1>
        <div>
            
                <button class="hero__btn--products btn btn_color_dark" type="button"><a href="#products">Products</a></button>
            
            
            <button class="hero__btn--him btn btn_color_light" type="button"><a href="#about">How it’s made?</a></button>
            
        </div>
        <img class="hero__image-milk" 
            srcset="./images/milk.png 1x, ./images/milk-2x.png 2x"
            src="./images/milk.png" 
            alt="icecream">
                <img class="hero__image-girl" 
            srcset="./images/girl.png 1x, ./images/girl-2x.png 2x"
            src="./images/girl.png" 
            alt="icecream">
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <!-- <button class="hero__button-text btn btn_color_light" type="button" > -->       
                <img class="hero__button-arrow" 
                srcset="./images/arrow18.png 1x, ./images/arrow18-2x.png 2x"
                src="./images/arrow18.png" alt="arrow">
        <!-- </button> -->
                <div class="hero__circle-min"></div>
                <p class="hero__quantity">16</p>
                <p class="hero__pos-text">cafes</p>
                <div class="hero__circle-min_second"></div>
                <p class="hero__quantity_second">23</p>
                <p class="hero__pos-text_second">food trucks</p>
        </div>     
    </div>
</div>