<div>
   
    <div class="header_button-container">
    <nav class="navigation is-open">
        <div style="background-color: aqua; width: 40px; height: 40px;">
        <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu" data-menu-button="">
            <svg width="40" height="40">
                <use class="menu-button__open" href="../src/images/sprite.svg#icon-btn"></use>
            </svg>
        </button>
        </div>
    </nav></div>
        
        
        <div class="menu-container js-menu-container" id="mobile-menu">
            <div class="close-buttone__container">
            <button class="menu__button-close js-close-menu">
                <svg width="40" height="40px">
                    <use href="./images/sprite.svg#icon-btn"></use>
                </svg>
            </button>
        </div>
            <div class="menu-link__container">
                <ul class="menu-link">
                    <li class="menu-link__item"><a href="">Студия</a></li>
                    <li class="menu-link__item"><a href="">Портфолио</a></li>
                    <li class="menu-link__item"><a href="">Контакты</a></li>
                </ul>
            </div>
            <div class="contacts-menu__container">
                <ul class="navigation-menu">
                    <li class="navigation_item"><a href="tel:+380961111111">+38 (096)-111-1111</a></li>
                    <li class="navigation_item"><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
                </ul>
            </div>
            <div class="menu-container__social">
                <ul class="menu-social__link">
                    <li class="menu-social__item"><a href="">Instagram</a></li>
                    <li class="menu-social__item"><a href="">Twitter</a></li>
                    <li class="menu-social__item"><a href="">Facebook</a></li>
                    <li class="menu-social__item"><a href="">Linkedln</a></li>
                </ul>
            </div>
        </div>
        
</div>






<!-- 
<div>
    <div>
        <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu"
            data-menu-button="">
            <svg width="40" height="40">
                <use class="menu-button__open" href="./images/sprite.svg#icon-btn"></use>
                
            </svg>
        </button>
    </div>

    <div class="menu-container js-menu-container is-open" id="mobile-menu">
        <div class="close-buttone__container">
            <button class="menu__button-close js-close-menu">
                <svg width="40" height="40px">
                    <use href="./images/sprite.svg#icon-Close"></use>
                </svg>
            </button>
        </div>
        <div class="menu-link__container">
            <ul class="menu-link">
                <li class="menu-link__item"><a href="">Студия</a></li>
                <li class="menu-link__item"><a href="">Портфолио</a></li>
                <li class="menu-link__item"><a href="">Контакты</a></li>
            </ul>
        </div>
        <div class="contacts-menu__container">
            <ul class="navigation-menu">
                <li class="navigation_item"><a href="tel:+380961111111">+38 (096)-111-1111</a></li>
                <li class="navigation_item"><a href="mailto:info@devstudio.com">info@devstudio.com</a></li>
            </ul>
        </div>
        <div class="menu-container__social">
            <ul class="menu-social__link">
                <li class="menu-social__item"><a href="">Instagram</a></li>
                <li class="menu-social__item"><a href="">Twitter</a></li>
                <li class="menu-social__item"><a href="">Facebook</a></li>
                <li class="menu-social__item"><a href="">Linkedln</a></li>
            </ul>
        </div>
    </div>
</div> -->