<div>
    <div class="header_button-container">
    <nav class="is-open">
        <div>
        <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu" data-menu-button="">
            <svg width="40" height="40">
                <use class="menu-button__open" href="./images/sprite.svg#icon-btn"></use>
            </svg>
        </button>
        </div>
    </nav></div>
        
        
        <div class="menu-container js-menu-container" id="mobile-menu">
            <div class="close-buttone__container">
            <button class="menu__button-close js-close-menu">
                <svg width="40" height="40px">
                    <use href="./images/sprite.svg#icon-btn"></use>
                </svg>
            </button>
        </div>
      <div class="buy-button__container">
            <a href="">
            <button type="button" class="buy-button" >
                Buy now >
            </button>
            </a>
        </div>
            <div class="menu-link__container">
                <ul class="menu-link">
                    <li class="menu-link__item"><a href="">Home</a></li>
                    <li class="menu-link__item"><a href="">About us</a></li>
                    <li class="menu-link__item"><a href="">How it's made?</a></li>
                    <li class="menu-link__item"><a href="">Our products</a></li>
                    <li class="menu-link__item"><a href="">Contact</a></li>

                </ul>
            </div>
           
            
        </div>
        
</div>


