  <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="close-button__container">
      <button class="menu__button-close js-close-menu">
        <svg width="14" height="14">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="buy-button__container">
      <button type="button" class="btn btn_color_light btn-menu js-open-modal">
        Buy now
        <svg class="about__svg-btn">
          <use href="./images/sprite.svg#icon-btn"></use>
        </svg>
      </button>
    </div>
    <div class="menu-link__container">
      <ul class="menu-link">
        <li class="menu-link__item"><a href="">Home</a></li>
        <li class="menu-link__item"><a href="">About us</a></li>
        <li class="menu-link__item"><a href="">How it's made?</a></li>
        <li class="menu-link__item"><a href="">Our products</a></li>
        <li class="menu-link__item"><a href="">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
