<div class="backdrop" data-modal>
    <div class="modal">
        <button type="button" class="close-map-button" data-modal-close>
            <svg class="close-map-button__icon" width="18px" height="18px">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title">Welcome to our place</p>
        <div class="mape-container">
            <iframe src="https://www.google.com/maps/d/embed?mid=12cpTaKcxe2kfsOuOpDIkdtzGSFOHf3N1&hl=uk" width="640"
                height="480"></iframe>
        </div>
    </div>
</div>
<script src="../src/modal.js"></script>
</div>