<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="close-map-button" data-modal-close>
            <svg class="close-button__icon" width="18px" height="18px">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title">Welcome to our place</p>
        <div class="mape-container">
            <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae01fbfc5c4047a7b6e7ab892064bba15a48b921b1729eeea53dc2cb66da3cf84&amp;source=constructor"
                width="700" height="500" frameborder="0" class="mape"></iframe>
        </div>
    </div>
</div>
<script src="../src/modal.js"></script>
</div>