<!-- modalka-->
<div class="backdrop js-modal-container" role="status" aria-expanded="false" id="modal">
  <div class="modal">
    <p class="modal__tittle">Leave your details, we will call you back</p>
    <form action="#">
      <div class="modal__form">
        <label for="name" class="modal__label">Name</label>
        <span class="modal__data">
          <input type="text" name="name" id="name" class="modal__input" />
          <svg class="modal-input__icon">
            <use href="./images/sprite.svg#icon-person-black-2"></use>
          </svg>
        </span>

        <label for="tel" class="modal__label">Phone</label>
        <span class="modal__data">
          <input type="tel" name="tel" id="tel" class="modal__input" />
          <svg class="modal-input__icon">
            <use href="./images/sprite.svg#icon-phone-black-2"></use>
          </svg>
        </span>

        <label for="email" class="modal__label">E-mail</label>
        <span class="modal__data">
          <input type="email" name="email" id="email" class="modal__input" />
          <svg class="modal-input__icon">
            <use href="./images/sprite.svg#icon-email-black-2"></use>
          </svg>
        </span>
      </div>

      <label for="message" class="modal__label">Comment</label>
      <textarea name="message" id="message"  placeholder="Enter text" class="modal__texterea"></textarea>

      <button type="submit" class="modal__btn">Send</button>
    </form>
    <button type="button" class="modal__close js-close-modal">
      <svg class="modal-close__icon">
        <use href="./images/sprite.svg#icon-vector-2"></use>
      </svg>
    </button>
  </div>
</div>
