<div class="products-section"> 
    <p class="products-section__text">100% natural</p>
    <h2 class="products-section__title">PRODUKTS</h2>
    <ul class="products-card">
        <li class="products-card_item one">
            <h3 class="products-card__title">ICE CREAM</h3>
            <div class="wrapper">
                <ul class="box">
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                </ul>
            </div>
            <p class="products-card__text mob">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.  </p>
            <p class="products-card__text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button-card"></button>
            </button>
        </li>
        <li class="products-card_item two">
            <h3 class="products-card__title">ICE COFFEE</h3>
            <div class="wrapper">
                <ul class="box">
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                </ul>
            </div>
            <p class="products-card__text mob">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="products-card__text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button-card"></button>
            </button>
        </li>
        <li class="products-card_item three">
            <h3 class="products-card__title">MILKSHAKES</h3>
            <div class="wrapper">
                <ul class="box">
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                </ul>
            </div>
            <p class="products-card__text mob">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="products-card__text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button-card"></button>
            </button>
        </li>
    </ul>

</div>