<div class="products-section">
  <p class="products-section__text">100% natural</p>
  <h2 class="products-section__title" id="products">PRODUCTS</h2>
  <ul class="products-card">
    <li class="products-card_item one">
      <div class="produkts-thumb">
        <h3 class="products-card__title">ICE CREAM</h3>
        <div class="wrapper">
          <ul class="box">
            <li class="box__circle"></li>
            <li class="box__circle"></li>
            <li class="box__circle"></li>
          </ul>
        </div>
        <p class="products-card__text mob">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="button-card"></button>

        <div class="produkts-overlay">
          <p class="produkts-overlay__text">
            Ice cream made from quality products, and in general, has a beneficial effect on
            immunity, normalizes blood pressure, strengthens bone tissue, and is a kind of
            prevention of kidney stones
          </p>
        </div>
      </div>
    </li>
    <li class="products-card_item two">
      <div class="produkts-thumb">
        <h3 class="products-card__title">ICE COFFEE</h3>
        <div class="wrapper">
          <ul class="box">
            <li class="box__circle"></li>
            <li class="box__circle"></li>
            <li class="box__circle"></li>
          </ul>
        </div>
        <p class="products-card__text mob">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="button-card"></button>

        <div class="produkts-overlay">
          <p class="produkts-overlay__text">
            We can safely say that cold coffee is no less healthy than hot coffee. He prevents early
            aging, reduces the risk of developing cardiovascular diseases, has a positive effect on
            type 2 diabetes sufferers
          </p>
        </div>
      </div>
    </li>
    <li class="products-card_item three">
      <div class="produkts-thumb">
        <h3 class="products-card__title">MILKSHAKES</h3>
        <div class="wrapper">
          <ul class="box">
            <li class="box__circle"></li>
            <li class="box__circle"></li>
            <li class="box__circle"></li>
          </ul>
        </div>
        <p class="products-card__text mob">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="button-card"></button>

        <div class="produkts-overlay">
          <p class="produkts-overlay__text">
            Benefits of Properly Prepared Milkshakes Provides a source of calcium - in As a result,
            the risk of developing osteoporosis is reduced, teeth are strengthened. Becomes the
            source healthy calories in adequate amounts
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
