<div class="products-section"> 
    <p class="products-section__text">100% natural</p>
    <h2 class="products-section__title">PRODUCTS</h2>
    <ul class="products-card">
        <li class="products-card_item one">
            <div class="produkts-thumb">
                <h3 class="products-card__title">ICE CREAM</h3>
            <div class="wrapper">
                <ul class="box">
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                </ul>
            </div>
            <p class="products-card__text mob">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.  </p>
            <p class="products-card__text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button-card"></button>
                
                    <div class="produkts-overlay">
                        <h3 class="produkts-overlay__text">Мороженое, изготовленное из качественных продуктов, и в целом благотворно влияет на иммунитет, нормализует артериальное давление, укрепляет костную ткань, является своего рода профилактикой образования камней в почках.</h3>
        
                    </div>
            </div>
            
        </li>
        <li class="products-card_item two">
         <div class="produkts-thumb">
            <h3 class="products-card__title">ICE COFFEE</h3>
            <div class="wrapper">
                <ul class="box">
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                    <li class="box__circle"></li>
                </ul>
            </div>
            <p class="products-card__text mob">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
            <p class="products-card__text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button type="button" class="button-card"></button>
            
                <div class="produkts-overlay">
                    <h3 class="produkts-overlay__text">Можно смело утверждать, что холодный кофе не менее полезен, чем горячий. Он профилактирует раннее старение, уменьшает риск развития сердечно-сосудистых заболеваний, положительно влияет на страдающих диабетом второго типа</h3>
    
                </div>
        </div>
            
        </li>
        <li class="products-card_item three">
                    
            <div class="produkts-thumb">
                <h3 class="products-card__title">MILKSHAKES</h3>
                <div class="wrapper">
                    <ul class="box">
                        <li class="box__circle"></li>
                        <li class="box__circle"></li>
                        <li class="box__circle"></li>
                    </ul>
                </div>
                <p class="products-card__text mob">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                <p class="products-card__text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="button-card"></button> 
                
                    <div class="produkts-overlay">
                        <h3 class="produkts-overlay__text">Польза правильно приготовленных молочных коктейлей
                            Является источником кальция — в результате снижается риск развития остеопороза, укрепляются зубы. Становится источником полезных калорий в адекватном количестве.</h3>
                    </div>
            </div>  
        </li>
    </ul>

</div>