<div class="reviews  container">
    <h2 hidden>reviews</h2>
    <ul class="autoplay">
        <li>
            <picture>
                    <source srcset="../src/images/customer1.jpg 1x, ../src/images/customer1-2x.jpg 2x" media="(min-widht=1200px)">
                    <source srcset="../src/images/customer1.jpg 1x, ../src/images/customer1-2x.jpg 2x" media="(min-widht=768px)">
                    <img class="reviews__picture" src="../src/images/customer1.jpg" alt="user">
            </picture>
            <div class="reviews__response">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
            </div>
            <div class="reviews__location">
                <span></span>
                <p class="reviews-location__text">Emily, Los Angeles</p>
            </div>
        </li>

        <li >
            <picture>
                <source srcset="../src/images/customer2.jpg 1x, ../src/images/customer2-2x.jpg 2x" media="(min-widht=1200px)">
                <source srcset="../src/images/customer2.jpg 1x, ../src/images/customer2-2x.jpg 2x" media="(min-widht=768px)">
                <img class="reviews__picture" src="../src/images/customer2.jpg" alt="user">
            </picture> 
            <div class="reviews__response">
                <p class="reviews__text">
                    I want to tell you about ice cream, which I think adults will like (especially if you like popsicles), and children can
                    safely give it!
                </p>
            </div>
            <div class="reviews__location">
                <span></span>
                <p class="reviews-location__text">Olya, Lviv</p>
            </div>
        </li>

        <li>
            <picture>
                <source srcset="../src/images/customer3.jpg 1x, ../src/images/customer3-2x.jpg 2x" media="(min-widht=1200px)">
                <source srcset="../src/images/customer3.jpg 1x, ../src/images/customer3-2x.jpg 2x" media="(min-widht=768px)">
                <img class="reviews__picture" src="../src/images/customer3.jpg" alt="user">
            </picture>
            <div class="reviews__response">
                <p class="reviews__text">
                    Ice cream is super tasty, sweet, but not sugary, and really tender, like yogurt. I have two children and finally have a normal ice cream, as it is not dangerous to give them food!
                </p>
            </div>
            <div class="reviews__location">
                <span></span>
                <p class="reviews-location__text">Olivia, New York</p>
            </div>
        </li>

    </ul>


    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
        integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>
        $('.autoplay').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: false,
                dots:true
            }); 
    </script>

</div>