.btn {
  padding: 12px 35px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  cursor: pointer;
}

.btn_color_dark {
  background-color: $mainDarkColor;
  color: $mainLightColor;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: $accentDarkBtnColor;
  }
}

.btn_color_light {
  background-color: $mainLightColor;
  color: $mainDarkColor;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color:$accentLightBtnColor;
  }
}
