.about {
  padding-top: 125px;
  background-color: $mainBackgroundColor;
  // background-size: 280px;
  // max-width: 1600px;
  @media screen and (min-width: 768px) {
    padding-top: 130px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
  }
  @media screen and (max-width: 767px), (min-width: 1280px) {
    margin: auto;
    background-image: url(/images/milkdrops.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/milkdrops-2x.png);
    }
    background-repeat: no-repeat;
    background-position: bottom 5% right 50%;
    background-size: contain;
  }
}
.about__container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 39px;
    padding-right: 36px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.about__pre-title {
  font-family: $titleFont;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: $LabelColor;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 26px;
  font-family: $titleFont;
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  color: $mainDarkColor;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    width: auto;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    padding-bottom: 55px;
  }
}

.about__content {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    // padding: 0 35px;
  }
  @media screen and (min-width: 1280px) {
    // padding: 0 115px;
    // background-image: url(/images/milkdrops.png);
    // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //   background-image: url(/images/milkdrops-2x.png);
    // }
    // background-repeat: no-repeat;
    // background-position: bottom 35px right 50%;
    // background-size: contain;
  }
}

.about__img {
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 340px;
    margin: 0 0 100px 0;
  }
  @media screen and (min-width: 1280px) {
    width: 516px;
  }
}

// .about__text-container {
//   @media screen and (max-width: 767px) {
//     margin: auto;
//     background-image: url(/images/milkdrops.png);
//     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//       background-image: url(/images/milkdrops-2x.png);
//     }
//     background-repeat: no-repeat;
//     background-position: bottom 60px right 50%;
//     background-size: contain;
//   }
// }

.about__text-first {
  // width: 220px;
  // margin-left: auto;
  // margin-right: auto;
  padding: 0 50px;
  margin: auto;
  margin-top: 46px;
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 1.62;
  @media screen and (min-width: 768px) {
    width: 340px;
    padding: 0;
    font-size: 14px;
    line-height: 1.76;
    margin-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
    margin-bottom: 35px;
    font-size: 16px;
  }
}

.about__text-second {
  // width: 220px;
  // margin-left: auto;
  // margin-right: auto;
  padding: 0 50px;
  margin: auto;
  margin-bottom: 17px;
  font-size: 12px;
  line-height: 1.62;
  color: $secondaryTextColor;
  @media screen and (min-width: 768px) {
    width: 340px;
    padding: 0;
    font-size: 14px;
    line-height: 1.76;
    // bottom: 0;
    margin-bottom: 55px;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
    line-height: 1.96;
    margin-bottom: 45px;
  }
}

.about__text-after {
  display: block;
  margin-top: 25px;
  @media screen and (min-width: 768px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 35px;
  }
}

.about__btn {
  display: block;
  margin-left: 50px;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.about__svg-btn {
  margin-left: 14px;
  width: 5px;
  height: 8px;
}
