.about {
  padding-top: 125px;
  background-color: $mainBackgroundColor;
  background-size: 280px;
}
.about__container {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.about__pre-title {
  font-family: $titleFont;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: $LabelColor;
  text-transform: uppercase;
}

.about__title {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 26px;
  font-family: $titleFont;
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  color: $mainDarkColor;
  text-transform: uppercase;
}

.about__img {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.about__text-container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/milkdrops.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/milkdrops-2x.png);
  }
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.about__text-first {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 1.62;
}

.about__text-second {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  font-size: 12px;
  line-height: 1.62;
  color: $secondaryTextColor;
}

.about__text-after {
  display: block;
  margin-top: 25px;
}

.about__btn {
  display: block;
  margin-left: 50px;
}

.about__svg-btn {
  margin-left: 14px;
  width: 5px;
  height: 8px;
}
