.advantages {
  background-color: $mainBackgroundColor;
}
.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.advantages__container {
  padding: 39px 20px 97px 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 66px 76px 140px 36px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 39px 115px 139px 115px;
  }
}
.advantages__list-item {
  &:not(:last-child) {
    margin-bottom: 38px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 60px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 30px;
    }
  }
}
.first::before {
  display: block;
  content: '';
  height: 50px;
  width: 33px;
  background-image: url(/images/Advantage1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.second::before {
  display: block;
  content: '';
  height: 50px;
  width: 50px;
  background-image: url(/images/Advantage2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.third::before {
  display: block;
  content: '';
  height: 50px;
  width: 44px;
  background-image: url(/images/Advantage3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.advantages__list-title {
  font-family: $titleFont;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $mainDarkColor;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}
.advantages__list-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  width: 230px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    width: 180px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    width: 330px;
  }
}
