.footer {
  width: 100%;
  background-color: $mainBackgroundColor;

  padding-top: 113px;
  @media screen and (min-width: 768px) {
    padding-top: 158px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 165px;
  }
}

.footer__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
.footer__text__title--one {
  font-family: $titleFont;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;
  color: $LabelColor;

  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

.footer__text__title--two {
  font-family: $titleFont;
  font-weight: 400;
  font-size: 34px;
  line-height: calc(39 / 34);
  text-transform: uppercase;
  color: $mainDarkColor;

  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: calc(66 / 58);
  }
}

.footer__text {
  width: 234px;

  @media screen and (min-width: 768px), (min-width: 1280px) {
    width: 50%;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 91px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 97px;
  }
}

.footer__list__social {
  display: flex;
  justify-content: end;
  list-style: none;
}

.footer__item__icon:not(:first-child) {
  margin-left: 28px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 25px;
  }
}

.footer__tel {
  font-family: $mainFont;
  color: $mainTextColor;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.footer__contact {
  color: $mainDarkColor;
}

.footer__text__tel {
  text-align: right;
  margin-bottom: 43px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.footer__copyright {
  padding-bottom: 25px;
  padding-top: 22px;
  width: 100%;
  border-top: 1px solid $strokeColor;
  @media screen and (min-width: 768px) {
    padding-bottom: 18px;
    padding-top: 29px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 10px;
    padding-top: 9px;
  }
}

.copyright {
  font-family: $mainFont;

  font-weight: 700;
  max-width: 150px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: $secondaryTextColor;

  @media screen and (min-width: 768px), (min-width: 1280px) {
    max-width: 100%;
    line-height: 1.86;
  }
}

.total__link__social {
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: $mainColor;

  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accentDarkBtnColor;
  }
}

.total__icon {
  width: 20px;
  height: 20px;
  fill: $mainLightColor;
}

.footer__social__text {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.social__contact {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.footer__social {
  margin-bottom: 46px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}
