.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: $mainColor;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo img {
  width: 199px;
  padding: 6px 0;
}

.header__burger {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 767px) {
/*   .header {
    position: fixed;
    background-color: transparent;
  } */
  .header__button-buy {
    display: none;
  }
}

@media (max-width: 1279px) {
  .header__nav-link {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    background-color: transparent;
  }
  .header__body {
    max-width: 768px;
    margin: 0 auto;
    padding: 38px 34px 0 34px;   
  }
  .header__burger {
    flex-grow: 1;
    margin-left: 290px;
}
  
  .header__logo img {
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .header__body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 37px 115px 0 46px;  
  }
  .header__burger{
    display: none;
  }
  .header__nav-link{
    display: flex; 
    align-items: center;
  }
  .nav-link__item{
    margin-right: 35px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .nav-link__item a {
    font-family: $mainFont;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    color: $mainLightColor;
    transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: $mainDarkColor;
    }
  }
}
