.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  padding: 0 20px;
  background-color: $mainColor;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo img {
  width: 199px;
  padding: 6px 0;
}

.header__burger {
  display: block;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 12px;
  background-color: $mainColor;

  & span {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 5px;
    background-color: $mainDarkColor;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $mainDarkColor;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}
