.body {
  position: relative;
}

.buy-button__container {
  margin-top: 60px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
}

.btn-menu {
  width: 210px;
  margin: 0 auto;
}

.menu__button-close {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    fill: $mainDarkColor;
  }
}
.close-button__container {
  position: absolute;
  right: 28px;
  top: 24px;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #e17992;
  z-index: 20;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-link {
  list-style-type: none;

  & a {
    text-decoration: none;
    color: $mainLightColor;
    width: 100%;
    padding-left: 24px;
    padding-top: 11px;
    padding-bottom: 12px;
    &:hover {
      color: $mainDarkColor;
    }
  }
}
.menu-link__item {
  border-bottom: 1px solid #e18298;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  &:nth-child(1) {
    border-top: 1px solid #e18298;
  }
}
