.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.reviews__slider {
  position: relative;
  display: block;
}
.slick-arrow {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 0;
  background-color: #ffffff;
}

/*------picture------*/

.reviews__picture {
  border-radius: 50%;
  display: block;
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

/*-----response-----*/

.reviews__response {
  width: 100%;
  height: 308px;
  margin-top: 29px;
  background: #fafafa;
  padding: 43px 50px 20px 50px;
  position: relative;
}
.reviews__text::before {
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  margin: 0;
  background-image: url(/images/brackets-2.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}
.reviews__text {
  text-align: center;
  background: repeating-linear-gradient(
    180deg,
    #fafafa 0px,
    #fafafa 30px,
    #e1e1e1 30px,
    #e1e1e1 31px
  );
  height: auto;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(31 / 12);
}
.reviews-response__icon {
  margin-right: 10px;
  margin-bottom: -30px;
  margin-left: -10px;
}

/*--------location--------*/

.reviews__location {
  padding: 30px 50px 30px 50px;
}
.reviews__location {
  display: block;
  text-align: center;
}
.reviews__location span {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
  position: relative;
}
.reviews__location span::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 10px;
}
.reviews__location span::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #c7133e;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 10px;
}
.reviews-location__text {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 35px;
}
.reviews-location__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-location__point:not(:last-child) {
  margin-right: 18px;
}
.reviews-location__point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  background-color: #d9d9d9;
  justify-content: center;
  align-items: center;
}
.autoplay .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.autoplay .slick-dots li {
  list-style: none;
  margin-left: 10px;
}
.autoplay .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.autoplay .slick-dots li.slick-active button {
  width: 15px;
  height: 15px;
  background-image: url(/images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: none;
  background-color: #fff;
}
